*{
    font-family: sans-serif,'Segoe UI', Tahoma, Geneva, Verdana;
}

.btn{
    margin:5px;
    padding: 10px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    text-align: center; 
    box-shadow: 0 0 20px #eee;
    border: none;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-decoration: none;
}
.btn:hover{
    background-position: right center;

  
}
.btn-1 {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  }
  .btn-2 {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }
  
  .btn-3 {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  }
  
  .btn-4 {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  }
  
  .btn-5 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
  }
  .btn-6{
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
      box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
  }
  .btn-7{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
      box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  }
  .btn-8{
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
      box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  }
  .btn-9{
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
  }
  
  .btn-10{
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
  }

.ul-style-1{
    list-style: none;
    margin: 10px;
}
li{
    margin: 5px;
}
.ul-style-1 li:nth-child(odd){
    background: lightgreen;
    padding: 10px;

}
.ul-style-1 li:nth-child(even){
    background: lightblue;
    padding: 10px;

}
